body {
  background-color: #000;
  color: #FFF;
  font-family: "Nunito Sans";
  font-weight: 200;
  font-size: 24px;
}

.wrapper {
  width: 640px;
  margin: auto;
  }

.title {
  font-family: 'Squared Display';
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}

.byline {
  text-align: center;
}

form {
  margin-top: 75px;
}

form label {
  width: 180px;
  display: inline-block;
  margin-left: 110px;
  margin-bottom: 12px;
}

form input{
  background-color: #000;
  color: #FFF;
  font-family: "Nunito Sans";
  font-weight: normal;
  font-size: 24px;
  width: 240px;
  border-style: solid;
  border-width: 2px;
  border-color:	#FFF;
  border-radius: 10px;
  height: 30px;
}

form input:focus {
  outline: none;
}

.row {
  margin-top: 15px;
}

.skills {
  height: 120px;
}

.submit	{
  margin: 48px 0 0 240px;
  border-style: none;
  height: 60px;
  background: linear-gradient(to bottom right, purple, blue);
}
