body {
  background-color: #000;
  color: #FFF;
  font-family: "Nunito Sans";
  font-weight: 200;
  font-size: 24px;
}

.wrapper {
  width: 640px;
  margin: auto;
  }

.title {
  font-family: 'Squared Display';
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  margin-top: 100px;
}

.byline {
  text-align: center;
}

form {
  margin-top: 75px;
}

form label {
  width: 180px;
  display: inline-block;
  margin-left: 110px;
  margin-bottom: 12px;
}

form input, textarea {
  background-color: #2e303d;
  color: #777d8e;
  font-family: "Nunito Sans";
  font-weight: normal;
  font-size: 18px;
  width: 240px;
  border-style: solid;
  border-width: 2px;
  border-color:	transparent;
  border-radius: 10px;
  height: 30px;
  resize: none;
}

form input:focus, textarea:focus, button:focus {
  outline: none;
  border-color:	#6ad7b8;
}

.row {
  margin-top: 15px;
}

.skills {
  height: 120px;
}

/* part of animated gradient effect */
@keyframes gradientFade {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.submit	{
  font-family: "Nunito Sans";
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
  color: #FFF;
  width: 240px;
  border: none;
  margin: 48px 0 0 240px;
  height: 60px;
  /* Animated gradient effect */
  background: linear-gradient(
    330deg,
    rgba(172,118,181,1) 0%,
    rgba(69,68,131,1) 32%,
    rgba(127,177,182,1) 61%,
    rgba(128,176,159,1) 85%,
    rgba(109,144,181,1) 100%
  );
  background-size: 400% 400%;
  animation: gradientFade 2s linear infinite;
}

.grid-container {
  display: grid;
  grid-template-columns: 38% auto; /* golden ratio */
  width: 900px;
  height: 1000px;
  margin: auto;
  border: 2px solid red;
}

.left-col {
  border: 2px solid green;
}

.right-col {
  border: 2px solid blue;
}

.search {
  width: 480;
  margin: 60px auto 40px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(127,177,182,1);
}

.search .fa-search {
  color: rgba(109,144,181,1);
}

.results {
  height: 500px;
  border: 2px solid rgba(172,118,181,1);
  border-radius: 20px;
}
