{% extends '../site_base.html' %}
{% load static %}
{% block body %}
    <b>first name: {{ user.first_name }}</b>
    <br>
    <b>last name: {{ user.last_name }}</b><br>

    <img src="{{ user_profile.avatar.url }}" alt="my avatar" height="100px" width="100px"/><br>
    <b>tokens: {{ user.tokens }}</b>
    <b>email: {{ user.email }}</b>
    <br>
    <b>Skills</b>
    <br>
    {% for skill in user.skills.all %}
        <b>{{ skill.name }}</b>
        <b>{{ skill.description }}</b>
        <br>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="submit" class="button">
    </form>
    {% if tokens_sent %}
        <div>Thank you the tokens have been sent to {{ to_user }}</div>
    {% endif %}
{% endblock %}