<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

{% block nav %}

    <ul>
        <li>Base line header</li>
    </ul>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
    This is a fucking footer
{% endblock %}